pandas
pytrends
pycountry
pyarrow
newspaper3k
trafilatura
ftfy
dotenv
requests
beautifulsoup4
lxml
tqdm
numpy
openpyxl
scikit-learn
joblib
sentence-transformers
torch
matplotlib
seaborn
yfinance
pyyaml
aiohttp
openai
earthengine-api
python-dateutil
geopy
networkx
plotly
scipy
